body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}

ul {
  margin: 0;
}

.signuploginbutton {
  box-sizing: border-box;
  height: 55px;
  width: 142px;
  border: 1px solid #DCDCDC;
  font-size: 14px;
  text-decoration: none;
  border-radius: 10px;
  background-color: #FFFFFF;
  margin-right: 30px;
  outline: none;
  overflow: hidden;
  font-weight: 300;
}

.navbardiv {
  background-color: #D8D8D8;
}

.bg-steel {
  background-color: rgb(194, 194, 194);
}

.bg-color {
  background-color: orangered;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-heading {
  font-size: 2.5rem;
}

/* -- import Roboto Font ------------------------------ */
@import "https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,cyrillic";


/* -- box model --------------------------------------- */
*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* -- Base style -------------------------------------- */
html {
  position: relative;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  font-family: 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.4;
  color: #212121;
  background-color: #f5f5f5;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* -- Google typography ------------------------------- */
.title {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.1;
  color: #212121;
  text-transform: inherit;
  letter-spacing: inherit;
}

.caption {
  font-size: 12px;
  font-weight: 300;
  line-height: 1.1;
  color: #bdbdbd;
  text-transform: inherit;
  letter-spacing: inherit;
}

/* -- Ripple-effect ----------------------------------- */
.ripple-effect {
  position: relative;
  overflow: hidden;
  -webkit-transform: translatez(0);
  transform: translatez(0);
}
.ink {
  display: block;
  position: absolute;
  pointer-events: none;
  border-radius: 50%;
  transform: scale(0);
}
.ink {
  background: #fff;
  opacity: 1;
}
.ink.animate {
  -webkit-animation: ripple-effect 0.5s linear;
  -o-animation: ripple-effect 0.5s linear;
  animation: ripple-effect 0.5s linear;
}

@keyframes ripple-effect {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
    -ms-transform: scale(2.5);
    -o-transform: scale(2.5);
    transform: scale(2.5);
  }
}
@-webkit-keyframes ripple-effect {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
    -ms-transform: scale(2.5);
    -o-transform: scale(2.5);
    transform: scale(2.5);
  }
}
@-moz-keyframes ripple-effect {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
    -ms-transform: scale(2.5);
    -o-transform: scale(2.5);
    transform: scale(2.5);
  }
}
@-ms-keyframes ripple-effect {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
    -ms-transform: scale(2.5);
    -o-transform: scale(2.5);
    transform: scale(2.5);
  }
}
@-o-keyframes ripple-effect {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
    -ms-transform: scale(2.5);
    -o-transform: scale(2.5);
    transform: scale(2.5);
  }
}

/* -- Dashboard --------------------------------------- */
.dashboard {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  padding: 5px;
  margin: 0;
}
.dashboard > * {
  display: block;
  float: left;
  margin: 5px;
}

.dashboardtitle{
  width: fit-content;
  margin: 0 auto;
  padding: 15px;
}

.backnav{
  width: 100%;
  margin: 0 auto; 
  width: 1140px;
}

/*-- Display animation -------------------------------- */
.display-animation > * {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
.display-animation > .animated {
  -webkit-animation: display 0.5s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  -o-animation: display 0.5s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  animation: display 0.5s cubic-bezier(0.55, 0, 0.1, 1) forwards;
}
.no-js .display-animation > * {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.previous {
  background-color: #f1f1f1;
  color: rgb(255, 255, 255);
}

.next {
  background-color: #04AA6D;
  color: rgb(96, 96, 96);
}

.round {
  border-radius: 50%;
  background-color: rgb(196, 196, 196);
}

.a-stylized {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

.a-small-rect-button {
  border-radius: 10px;
}


a:hover {
  color: black;
}

hr {
  color: #9a9a9a;
}

profile-tile {
  width: 130px;
  height: 50px;
  background-color: white;
  border-radius: 25px;
}

@keyframes display {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}
@-o-keyframes display {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}
@-ms-keyframes display {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes display {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}
@-webkit-keyframes display {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

.brand-img {
  width: auto;
  height: auto;
  max-width: 165px;
}

.profile-tile {
  width: 214px;
  height: 55px;
  background-color: white;
  border-radius: 10px;
}

.profile-tile-img {
  width: 43px;
  height: 43px;
  margin: 5.5px 0px 5.5px 15px;
  overflow: hidden;
}

.profile-tile-text {
  color: black;
  float: right;
  margin: 17px 15px 17px 0px;
}

.back-arrow-img {
  width: auto;
  height: auto;
  max-width: 38px;
  max-height: 38px;
}

.title-nav {
  margin-top: 31px;
}

.nav-icon-link {
  padding-right: 15px;
  padding-top: 17px;
}

.nav-icon {
  width: auto;
  height: auto;
  max-width: 33px;
  max-height: 39px;
}

.tile-header-arrow {
  width: auto;
  height: auto;
  max-width: 24px;
  max-height: 39px;
  float: right;
  padding-top: 3px;
}

.patient-tile {
  background-color: white;
  width: calc(100% - 30px);
  height: 133px;
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
  border-radius: 15px;
  margin: 15px;
}

.patient-tile-content {
  width: 100%;
  text-decoration: none;
  align-items: stretch;
}

.patient-tile-copy {
  
  padding: 16px 10px 8px 8px;
  color: black;
  font-weight: 200;
}

.feature-header {
  padding: 15px 20px 0px 10px;
}

.feature-header-label {
  max-width: 200px;
  width: auto;
  height: 30px;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  color: #4E49FF;
  word-wrap: normal;
}

.feature-tile {
  background-color: #F6F6F6;
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
  text-decoration: none;
  border-radius: 15px;
}

.feature-tile-div {
  width: 100%;
}

.feature-tile-container {
  display: grid;
  background-color: red;
  height: 1000px;
  max-width: 1190px;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: 
    "pl cn ha psci"
    "pl cn ha ge"
    "pw sl sl bs"
    "jn sl sl bs"
    "jn ew sltk bs"
    "pa ew sltk bs";
  grid-gap: 15px;
  padding: 35px;
}

@media only screen and (max-width:1200px) {
  .feature-tile-container {
    display: grid;
    background-color: yellow;
    height: 1315px;
    max-width: 907px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
      "pl cn ha"
      "pl cn ha"
      "pw sl sl"
      "jn sl sl"
      "jn psci bs"
      "pa ge bs"
      "ew sltk bs"
      "ew sltk bs";
    grid-gap: 15px;
    padding: 35px;
  }
}

@media only screen and (max-width:1000px) {
  .feature-tile-container {
    display: grid;
    background-color: rgb(177, 105, 184);
    height: 1000px;
    max-width: 768px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
      "pl cn ha"
      "pl cn ha"
      "pw sl sl"
      "jn sl sl"
      "jn psci bs"
      "pa ge bs"
      "ew sltk bs"
      "ew sltk bs";
    grid-gap: 15px;
    padding: 35px;
  }

  .feature-header-label {
    max-width: 200px;
    width: auto;
    height: 30px;
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
    color: #4E49FF;
    word-wrap: normal;
  }
}

@media only screen and (max-width:768px) {
  .feature-tile-container {
    display: grid;
    background-color: blue;
    height: 1500px;
    max-width: 550px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
      "cn ha"
      "cn ha"
      "sl sl"
      "sl sl"
      "pw psci"
      "ge bs"
      "pl bs"
      "pl bs"
      "jn bs"
      "jn pa"
      "ew sltk"
      "ew sltk";
    grid-gap: 15px;
    padding: 35px;
  }
}

@media only screen and (max-width:550px) {
  .feature-tile-container {
    display: grid;
    background-color: rgb(164, 208, 61);
    height: 3450px;
    max-width: 312px;
    margin: 0 auto;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
      "cn"
      "cn"
      "ha"
      "ha"
      "sl"
      "sl"
      "sl"
      "sl"
      "pw"
      "ge"
      "pl"
      "pl"
      "jn"
      "jn"
      "ew"
      "ew"
      "psci"
      "bs"
      "bs"
      "bs"
      "bs"
      "pa"
      "sltk"
      "sltk";
    grid-gap: 15px;
    padding: 35px;
  }
}

#pl {
  grid-area: pl;
}

#cn {
  grid-area: cn;
}

#ha {
  grid-area: ha;
}

#psci {
  grid-area: psci;
}

#pw {
  grid-area: pw;
}

#sl {
  grid-area: sl;
}

#bs {
  grid-area: bs;
}

#jn {
  grid-area: jn;
}

#pa {
  grid-area: pa;
}

#ew {
  grid-area: ew;
}

#sltk {
  grid-area: sltk;
}

#ge {
  grid-area: ge;
}

#spc {
  grid-area: spc;
}

.large-title {
  font-size: 18px;
  font-weight: bold;
}

.account-img {
  height: 100px;
  width: 100px;
  background-color: hotpink;
}

.patient-img-container {
  padding: 16px 8px 8px 8px;
  float: left;
}

span {
  margin-right: 10px;
}

/* dr profile section */

.dr-info {
  /* background-color: violet; */
  padding-top: 15px;
  font-weight: 400;
}

.dr-info-content {
  /* background-color: thistle; */
  float: left;
  width: 220px;
}

.dr-profile-account-img {
  width: 100px;
  height: 100px;
  float: left;
  margin: 0px 10px 10px 10px;
}

.dr-contact-button {
  width: 100%;
  height: 42px;
  border-radius: 10px;
  border: none;
  background-color: #CDCDCD;
  font-weight: 300;
}

.dr-contact-button:hover {
  background-color: #a2a2a2;
  color: white;
}

.taking-clients {
  /* background-color: tomato; */
  text-align: center;
  font-weight: 400;
  padding-top: 15px;
}

.dr-desc {
  min-height: 236px;
  padding: 15px 10px;
  font-weight: 400;
}

.dr-profile-container {
  /* background-color: yellow; */
  display: grid;
  height: 600px;
  max-width: 1140px;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
    "di tc dd";
  grid-gap: 15px;
  padding: 35px;
}

#di {
  grid-area: di;
}

#tc {
  grid-area: tc;
}

#dd {
  grid-area: dd;
}

/* clinician home */

.dr-home-button-container {
  display: grid;
  height: 163px;
  max-width: 1190px;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "mc mc mc ap ap ap";
  grid-gap: 15px;
  padding: 35px;
}

.dr-home-button-link {
  text-decoration: none;
}

.dr-home-button {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
  padding: 15px;
}

#mc {
  grid-area: mc;
}

#ap {
  grid-area: ap;
}

.view-add-buttons {
  width: 100%;
  display: inline-flex;
}