{% extends "storylineapp/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section form-container">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Updating Profile for "{{object.firstName|add:" "|add:object.lastName}}"</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Update Client Profile</button>
                <a class="btn btn-outline-danger" href="{% url 'client-delete' object.id %}">Delete Client</a>
            </div>
        </form>
    </div>
{% endblock content %}