<div class="container">
  <div class="row">
    <div class="dashboard display-animation feature-tile-div">
      {% include "users/featureTile.html" with type="square" feature="Practice List" link="#" %}
      {% include "users/featureTile.html" with type="square" feature="Counseling Notes" link="#" %}
      {% include "users/featureTile.html" with type="square" feature="Health Assessment" link="#" %}
      {% include "users/featureTile.html" with type="short-rect" feature="Pre-Session Check Ins" link="#" %}
      {% include "users/featureTile.html" with type="short-rect" feature="Grounding Exercises" link="#" %}
    </div>
  </div>
  <div style="width: 100%; background-color: darkolivegreen;">
    <div class="dashboard display-animation feature-tile-div" style="background-color: red;width: 25.22%;float: left;">
      {% include "users/featureTile.html" with type="short-rect" feature="Pathways" link="#" %}
      {% include "users/featureTile.html" with type="square" feature="Journal" link="#" %}
      {% include "users/featureTile.html" with type="short-rect" feature="Personality Assessments" link="#" %}
    </div>
    <div class="dashboard display-animation feature-tile-div" style="background-color: coral;width: 49.56%;float: left;">
      {% include "users/featureTile.html" with type="large-rect" feature="Storyline" link="#" %}
      {% include "users/featureTile.html" with type="square" feature="Emotion Wheel" link="#" %}
      {% include "users/featureTile.html" with type="square" feature="Storyline Toolkit" link="#" %}
    </div>
    <div class="dashboard display-animation feature-tile-div" style="background-color: darkgoldenrod;width: 25.22%;float: left;">
      {% include "users/featureTile.html" with type="tall-rect" feature="Body Scan" link="#" %}
    </div>
  </div>
</div>