{% extends "storyline/base.html" %}
{% block content %}
{% include 'storyline/titleNav.html' %}

<div class="">
    <div class="">
        <!-- my clients and my appointments -->
        <div class="dr-home-button-container display-animation" style="margin: 0 auto; width: 100%;">
            <!-- my clients -->
            <a class="dr-home-button-link" href="#">
                <div id="mc" class="dr-home-button" >
                    {% include 'users/clinicianHomeButton.html' with type="client" %}
                </div>
            </a>
            <!-- my appointments -->
            <a class="dr-home-button-link" href="#">
                <div id="ap" class="dr-home-button" >
                    {% include 'users/clinicianHomeButton.html' with type="appointment" %}
                </div>
            </a>
        </div>
        <!-- my clients label -->
        <div style="width: 100%;">
            <h2>My Clients</h2>
            
        </div>
        <!-- client list -->

        {% for client in clients %}
        <div class="patient-tile">
            {% include 'users/patientTile.html' with client=client %}
        </div>

        {% endfor %}

    </div>
</div>
{% endblock content %}