{% extends "storyline/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% include 'storyline/titleNav.html' %}
<div class="dr-profile-container">
  <div id="di" class="dr-info">
    <img class="rounded-circle dr-profile-account-img" src="{{ user.profile.image.url }}">
    <div class="dr-info-content">
      <p>Name: {{ user.username }}</p>
      <hr>
      <p>Practice: Andrew Health Clinic</p>
      <hr>
      <p>City: Denver</p>
      <hr>
      <p>State: Colorado</p>
      <hr>
      <p>Licensure: AMA</p>
      <hr>
      <button class="dr-contact-button">Contact</button>
    </div>
  </div>
  <!-- <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <fieldset class="form-group">
          <legend class="border-bottom mb-4">Profile Info</legend>
          {{ u_form|crispy }}
          {{ p_form|crispy }}
      </fieldset>
      <div class="form-group">
          <button class="btn btn-outline-info" type="submit">Update</button>
      </div>
  </form> -->

  <div id="tc" class="taking-clients">
    <p>Currently taking new Clients</p>
    <p>In-Person | Telehealth | Both</p>
  </div>

  <div id="dd" class="dr-desc">
    <p>
      Specializes in: Mental Stress
      <br>
      <br>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna
      aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.
      <br>
      <br>
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
      sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </div>
</div>
{% endblock content %}