{% extends "storyline/base.html" %}
{% block content %}
{% include 'storyline/titleNav.html' %}
<div class="" style="width: 100%;">
  <!-- client tile -->
<div class="dashboard display-animation" style="margin: 0 auto; width: 1140px;">
  <a class="tile tile-lsr tile-pink ripple-effect" href="#">
    {% include 'users/patientTile.html' %}
  </a>
</div>
<div class="dashboardtitle">
  <h1>Patient's Dashboard</h1>
</div>
<!-- feature tiles -->
<div class="dashboard display-animation" style="margin: 0 auto; width: 1140px;">
  <div class="dashboard display-animation" style="margin: 0 auto; width: 100%;">
    {% include "users/featureTile.html" with type="square" feature="Hello" %}
    <a class="tile tile-lg tile-sqr tile-pink ripple-effect" href="#">
      {% include 'users/featureHeader.html' %}
      <span class="content-wrapper">
        <span class="tile-content">
          <span class="tile-img" style="background-image: url(https://www.google.com/design/images/google_spec.png);"></span>
          <span class="tile-holder tile-holder-sm">
            <span class="title">Google Guidelines</span>
          </span>
        </span>      
      </span>
    </a>
    <a class="tile tile-lg tile-sqr tile-purple ripple-effect" href="#">
      <span class="content-wrapper">
        <span class="tile-content">
          <span class="tile-img" style="background-image: url(https://www.google.com/design/images/materialreel.png);"></span>
          <span class="tile-holder tile-holder-sm">
            <span class="title">Material Design Reel</span>
          </span>
        </span>      
      </span>
    </a>
    <a class="tile tile-lg tile-sqr tile-cyan ripple-effect" href="#">
      <span class="content-wrapper">
        <span class="tile-content">
          <span class="tile-img" style="background-image: url(https://www.google.com/design/images/principles.png);"></span>
          <span class="tile-holder tile-holder-sm">
            <span class="title">Material Design <span class="caption">PDF</span></span>
          </span>
        </span>      
      </span>
    </a>
    <a class="tile tile-amber ripple-effect" href="#">
      <span class="content-wrapper">
        <span class="tile-content">
          <span class="tile-img tile-img-bg" style="background-image: url(https://www.google.com/design/images/doodlearchive.png);"></span>
          <span class="tile-holder tile-holder-sm">
            <span class="title">Doodle Archive</span>
          </span>
        </span>      
      </span>
    </a>
    <a class="tile tile-light-blue ripple-effect" href="#">
      <span class="content-wrapper">
        <span class="tile-content">
          <span class="tile-img tile-img-bg" style="background-image: url(https://www.google.com/design/images/googleplus.png);"></span>
          <span class="tile-holder tile-holder-sm">
            <span class="title">Google+</span>
          </span>
        </span>      
      </span>
    </a>
  </div> 
  
  <div class="dashboard display-animation" style="margin: 0 auto; width: 1160px; padding: 0px;">
    <div class="dashboard display-animation" style="margin: 0 auto; width: 280px; padding-top: 0px;">
      <a class="tile  tile-pink ripple-effect" style="margin-top: 0;" href="#">
        <span class="content-wrapper">
          <span class="tile-content">
            <span class="tile-img" style="background-image: url(https://www.google.com/design/images/google_spec.png);"></span>
            <span class="tile-holder tile-holder-sm">
              <span class="title">Google Guidelines</span>
            </span>
          </span>      
        </span>
      </a>
      <a class="tile tile-lg tile-sqr tile-purple ripple-effect" href="#">
        <span class="content-wrapper">
          <span class="tile-content">
            <span class="tile-img" style="background-image: url(https://www.google.com/design/images/materialreel.png);"></span>
            <span class="tile-holder tile-holder-sm">
              <span class="title">Material Design Reel</span>
            </span>
          </span>      
        </span>
      </a>
      <a class="tile tile-cyan ripple-effect" href="#">
        <span class="content-wrapper">
          <span class="tile-content">
            <span class="tile-img" style="background-image: url(https://www.google.com/design/images/principles.png);"></span>
            <span class="tile-holder tile-holder-sm">
              <span class="title">Material Design <span class="caption">PDF</span></span>
            </span>
          </span>      
        </span>
      </a>
    </div> 
    
    <div class="dashboard display-animation" style="margin: 0 auto; width: 570px; margin: 0px; padding-top: 0;">
      <a class="tile tile-lg tile-pink ripple-effect" style="margin-top: 0;" href="#">
        <span class="content-wrapper">
          <span class="tile-content">
            <span class="tile-img" style="background-image: url(https://www.google.com/design/images/google_spec.png);"></span>
            <span class="tile-holder tile-holder-sm">
              <span class="title">Google Guidelines</span>
            </span>
          </span>      
        </span>
      </a>
      <a class="tile tile-lg tile-sqr tile-purple ripple-effect" href="#">
        <span class="content-wrapper">
          <span class="tile-content">
            <span class="tile-img" style="background-image: url(https://www.google.com/design/images/materialreel.png);"></span>
            <span class="tile-holder tile-holder-sm">
              <span class="title">Material Design Reel</span>
            </span>
          </span>      
        </span>
      </a>
      <a class="tile tile-lg tile-sqr tile-cyan ripple-effect" href="#">
        <span class="content-wrapper">
          <span class="tile-content">
            <span class="tile-img" style="background-image: url(https://www.google.com/design/images/principles.png);"></span>
            <span class="tile-holder tile-holder-sm">
              <span class="title">Material Design <span class="caption">PDF</span></span>
            </span>
          </span>      
        </span>
      </a>
    </div> 
    
    <div class="dashboard display-animation" style="margin: 0 auto; width: 280px; padding-left: 0px; padding-top: 0;">
      <a class="tile tile-tl tile-pink ripple-effect" style="margin-left: 0; margin-top: 0;" href="#">
        <span class="content-wrapper">
          <span class="tile-content">
            <span class="tile-img" style="background-image: url(https://www.google.com/design/images/google_spec.png);"></span>
            <span class="tile-holder tile-holder-sm">
              <span class="title">Google Guidelines</span>
            </span>
          </span>      
        </span>
      </a>
      
    </div> 
  </div>
</div>
</div>
{% endblock content %}
