{% extends "storylineapp/base.html" %}
{% block content %}
{% include 'storylineapp/titleNav.html' %}
<!-- client tile -->
<a class="display-animation ripple-effect" href="#">
  <div class="patient-tile">
    <a href="{% url 'client-update' client.id  %}">
      {% include 'users/patientTile.html' with client=client %}
    </a>
    
  </div>
</a>

<!-- feature tiles -->
<div class="feature-tile-container">
  <div id="pl" class="feature-tile">
    {% include "users/featureTile.html" with type="square" feature="Practice List" link="#" %}
  </div>
  <div id="cn" class="feature-tile">
    {% include "users/featureTile.html" with type="square" feature="Counseling Notes" link="#" %}
  </div>
  <div id="ha" class="feature-tile">
    {% include "users/featureTile.html" with type="square" feature="Health Assessment" link="#" %}
  </div>
  <div id="psci" class="feature-tile">
    {% include "users/featureTile.html" with type="short-rect" feature="Pre-Session Check Ins" link="#" %}
  </div>
  <div id="ge" class="feature-tile">
    {% include "users/featureTile.html" with type="short-rect" feature="Grounding Exercises" link="#" %}
  </div>
  <div id="pw" class="feature-tile">
    {% include "users/featureTile.html" with type="short-rect" feature="Pathways" link="#" %}
  </div>
  <div id="sl" class="feature-tile">
    {% include "users/featureTile.html" with type="large-rect" feature="Storyline" link="#" %}
  </div>
  <div id="bs" class="feature-tile">
    {% include "users/featureTile.html" with type="tall-rect" feature="Body Scan" link="#" %}
  </div>
  <div id="jn" class="feature-tile">
    {% include "users/featureTile.html" with type="square" feature="Journal" link="#" %}
  </div>
  <div id="pa" class="feature-tile">
    {% include "users/featureTile.html" with type="short-rect" feature="Personality Assessments" link="#" %}
  </div>
  <div id="ew" class="feature-tile">
    {% include "users/featureTile.html" with type="square" feature="Emotion Wheel" link="#" %}
  </div>
  <div id="sltk" class="feature-tile">
    {% include "users/featureTile.html" with type="square" feature="Storyline Toolkit" link="#" %}
  </div>

</div>

{% endblock content %}