{% extends "storyline/base.html" %}
{% block content %}
{% include 'storyline/titleNav.html' %}
<!-- client tile -->
<div class="dashboard display-animation" style="width: 100%; background-color: aquamarine;">
  <a class="tile tile-lsr patient-tile ripple-effect" href="#">
    {% include 'users/patientTile.html' %}
  </a>
</div>
<!-- feature tiles -->
<div class="feature-tile-container">
  <div id="pl" style="background-color: darkolivegreen;">content1</div>
  <div id="cn"  style="background-color: rgb(170, 198, 122);">content2</div>
  <div id="ha"  style="background-color: rgb(201, 206, 191);">content3</div>
  <div id="psci"  style="background-color: rgb(21, 28, 9);">content4</div>
  <div id="pw"  style="background-color: rgb(70, 111, 0);">content5</div>
  <div id="sl"  style="background-color: rgb(124, 136, 104);">content6</div>
  <div id="bs"  style="background-color: rgb(109, 213, 103);">content7</div>
  <div id="jn"  style="background-color: rgb(223, 223, 223);">content8</div>
  <div id="pa"  style="background-color: rgb(30, 31, 28);">content9</div>
  <div id="ew"  style="background-color: rgb(162, 255, 0);">content10</div>
  <div id="sltk"  style="background-color: rgb(201, 255, 109);">content11</div>
  <div id="ge"  style="background-color: rgb(35, 55, 0);">content12</div>
  <div id="spc" style="background-color: rgb(35, 55, 0);">content12</div>
</div>





{% endblock content %}