{% if type == "square" %}
<a class="tile tile-lg tile-sqr feature-tile ripple-effect" href="{{ link }}">
  {% include 'users/featureHeader.html' with feature=feature %}
  <!-- tile content -->
</a>
{% elif type == "short-rect" %}
<a class="tile feature-tile ripple-effect" href="{{ link }}">
  {% include 'users/featureHeader.html' with feature=feature %}
  <!-- tile content -->
</a>
{% elif type == "large-rect" %}
<a class="tile tile-lg feature-tile ripple-effect"  href="{{ link }}">
  {% include 'users/featureHeader.html' with feature=feature %}
  <!-- tile content -->
</a>
{% elif type == "tall-rect" %}
<a class="tile tile-tl feature-tile ripple-effect" href="{{ link }}">
  {% include 'users/featureHeader.html' with feature=feature %}
  <!-- tile content -->
</a>
{% endif %}