<div class="patient-tile-content">

    <div class="patient-img-container">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
    </div>

    <div class="patient-tile-copy">
        <p>
            <span class="large-title">{{ client.name }}</span>
            <span class="large-title" style="float: right;">No. of Sessions: {{ client.session_count }}</span>
        </p>

        <p>
            <span><b>DOB:</b>{{ client.dob }}</span>
            <span><b>Email:</b>{{ client.email }}</span>
            <span style="float: right;"><b>Start Date:</b>{{ client.start_date }}</span>
        </p>

        <p>
            <span><b>Gender:</b>{{ client.gender }}</span>
            <span><b>Race:</b>{{ client.race }}</span>
            <span><b>Profession:</b>{{ client.profession }}</span>
            <span style="float: right;"><b>Last Session:</b>{{ client.last_session }}</span>
        </p>
    </div>
    </span>
</div>